<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <script th:src="@{/js/page/user/user.js(v=4)}"></script>
</head>
<style type="text/css">
</style>
<body style="background:#fff">
<div id="userList">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示框
                    </h4>
                </div>
                <div class="modal-body" id="successMsg">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" id="continueBtn">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel"
         aria-hidden="false" data-keyboard="false">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="roleModalLabel">
                        绑定角色
                    </h4>
                </div>
                <div class="modal-body" id="roleList">
                    <div id="roleToolbar" class="btn-group">
                    </div>
                    <table id="tb_role"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeRoleBtn">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="saveRoleBtn" @click="bindRole()">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div class="calls">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">用户管理</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div class="page-content">

            <div class="panel-body" style="padding-bottom:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">查询条件</div>
                    <div class="panel-body">
                        <form id="formSearch" class="form-horizontal">
                            <div class="form-group" style="margin-top:15px">
                                <label class="control-label col-sm-1" for="search_emailTitle">邮箱</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="search_emailTitle">
                                </div>
                                <div class="col-sm-4" style="text-align:left;">
                                    <button type="button" style="margin-left:50px" id="btn_query"
                                            class="btn btn-primary" onclick="search()">查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="toolbar" class="btn-group">
                    <button id="btn_delete" type="button" class="btn btn-default" onclick="deleteFunction()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                    </button>
                </div>
                <table id="tb_user"></table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#userList',
        data: {
            id : '',
            status : 1,
            userId : '',
            roleId : ''
        },
        mounted: function () {

        },
        methods: {
            bindRole: function() {
                var roleId = $('#roleList input[type="radio"]:checked').parent().parent().attr('data-uniqueid');
                $.post('/user/updateRoleId',{userId: vm.userId, roleId: roleId}, function(data) {
                    if(data.state == '11') {
                        $('#roleModal').modal('hide');
                        $('#tb_user').bootstrapTable('refresh');
                    }

                });

            }
        }
    })
</script>
</html>




