<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <link rel="stylesheet" th:href="@{/css/summernote.css}"/>
    <script th:src="@{/js/summernote.js}"></script>
    <script th:src="@{/js/summernote-zh-CN.js}"></script>
    <script th:src="@{/js/page/brand/addBrand.js(v=1)}"></script>
    <style type="text/css">
        .form-control {
            width: 70%;
        }
        .coverDiv {
            border: 1px solid #C1C1C1;
            border-radius: 20px;
        }
    </style>
</head>

<body style="background:#fff; min-width: 900px">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                是否要保存品牌信息？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="continueBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
     aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="successModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                新增品牌成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeSuccessBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="calls" id="addBrand">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">品牌管理</li>
            <li class="active">新增品牌</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">

        <div class="panel-body" style="padding-bottom:0px;">
            <form id="coverForm">
                <div class="form-group">
                    <label>品牌LOGO</label>
                    <div style="height: 100px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="float: left; height: 100px" class="coverDiv" id="coverDiv">
                            <img style="width: 100px" :src="cover">
                        </div>
                        <div style="float: left; margin-top: 50px; margin-left: 10px">
                            <button type="button" class="btn btn-info" style="margin-right: 15px"
                                    onclick="uploadCover()">上传文件
                            </button>
                            <input type="file" style="display: none;" id="coverFile" name="file">
                        </div>
                    </div>
                </div>
            </form>
            <form role="form" class="required-validate" id="addForm" method="post" action="/brand/save"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label>品牌名称</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="请输入品牌名称">
                </div>
                <div class="form-group">
                    <label>公司名称</label>
                    <input type="text" class="form-control" id="companyName" name="companyName"
                           placeholder="请输入公司名称">
                </div>
                <div class="form-group">
                    <label>品牌类别</label>
                    <select class="form-control" id="typeId" name="typeId">
                        <option v-for="(t, index) in typeList" :value="t.id">{{t.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>品牌创立年份</label>
                    <input type="text" class="form-control" id="establishYear" name="establishYear"
                           placeholder="请输入品牌创立年份">
                </div>
                <div class="form-group">
                    <label>发源地</label>
                    <input type="text" class="form-control" id="originPlace" name="originPlace"
                           placeholder="请输入发源地">
                </div>
                <div class="form-group">
                    <label>品牌热度</label>
                    <input type="text" class="form-control" id="brandPopular" name="brandPopular"
                           placeholder="请输入品牌热度">
                </div>
                <div class="form-group">
                    <label>加盟条件</label>
                    <input type="text" class="form-control" id="joinCondition" name="joinCondition"
                           placeholder="请输入加盟条件">
                </div>
                <div class="form-group">
                    <label>品牌标签</label>
                    <br/>
                    <input type="checkbox" id="labelAuth" >认证
                    &nbsp;&nbsp;
                    <input type="checkbox" id="labelHonest" >诚信
                    &nbsp;&nbsp;
                    <input type="checkbox" id="labelVip" >VIP
                    &nbsp;&nbsp;
                    <input type="checkbox" id="labelQuality" >优质
                </div>

                <div class="form-group">
                    <label>品牌简介</label>
                </div>
                <div id="summernoteDescription"></div>

                <table>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>广告图一</label>
                                <div style="height: 100px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="float: left; height: 100px" class="coverDiv" id="coverADiv">
                                        <img style="width: 100px" :src="coverA">
                                    </div>
                                    <div style="float: left; margin-top: 50px; margin-left: 10px">
                                        <button type="button" class="btn btn-info" style="margin-right: 15px"
                                                onclick="uploadACover()">上传文件
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>广告图二</label>
                                <div style="height: 100px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="float: left; height: 100px" class="coverDiv" id="coverBDiv">
                                        <img style="width: 100px" :src="coverB">
                                    </div>
                                    <div style="float: left; margin-top: 50px; margin-left: 10px">
                                        <button type="button" class="btn btn-info" style="margin-right: 15px"
                                                onclick="uploadBCover()">上传文件
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>广告图三</label>
                                <div style="height: 100px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="float: left; height: 100px" class="coverDiv" id="coverCDiv">
                                        <img style="width: 100px" :src="coverC">
                                    </div>
                                    <div style="float: left; margin-top: 50px; margin-left: 10px">
                                        <button type="button" class="btn btn-info" style="margin-right: 15px"
                                                onclick="uploadCCover()">上传文件
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>大咖观点</label>
                                <div style="height: 100px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="float: left; height: 100px" class="coverDiv" id="coverVDiv">
                                        <img style="width: 100px" :src="coverV">
                                    </div>
                                    <div style="float: left; margin-top: 50px; margin-left: 10px">
                                        <button type="button" class="btn btn-info" style="margin-right: 15px"
                                                onclick="uploadVCover()">上传文件
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="form-group">
                    <label>是否招商</label>
                    <input type="checkbox" id="isInvest" >
                </div>

                <div class="form-group">
                    <label>招商类型</label>
                    <input type="text" class="form-control" id="investType" name="investType"
                           placeholder="请输入招商类型">
                </div>

                <div class="form-group">
                    <label>招商地区</label>
                    <input type="text" class="form-control" id="investArea" name="investArea"
                           placeholder="请输入招商地区">
                </div>

                <div class="form-group">
                    <label>招商政策</label>
                </div>
                <div id="summernotePolicy"></div>

                <div class="form-group">
                    <label>是否立即发布</label>
                    <input type="checkbox" id="isPublish" >
                </div>

                <div class="form-group">
                    <label>推荐</label>
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" id="recIndex" >推荐至首页
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <input type="checkbox" id="recTypeIndex" >推荐至总分类页
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <input type="checkbox" id="recTypeRank" >推荐至品牌排行页
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="recTypeInfor" >推荐至品牌资讯页
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <input type="checkbox" id="recInforHead" >推荐至资讯头条页
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <input type="checkbox" id="recInforEval" >推荐至资讯评测页
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="recInforDetail" >推荐至资讯详情页
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <button type="submit" class="btn btn-default" id="validaterBtn" style="margin-bottom: 5%">保存</button>
            </form>

            <form id="logoAForm">
                <input type="file" style="display: none;" id="coverAFile" name="file">
            </form>

            <form id="logoBForm">
                <input type="file" style="display: none;" id="coverBFile" name="file">
            </form>

            <form id="logoCForm">
                <input type="file" style="display: none;" id="coverCFile" name="file">
            </form>

            <form id="logoVForm">
                <input type="file" style="display: none;" id="coverVFile" name="file">
            </form>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#addBrand',
        data: {
            cover: null,
            coverA: null,
            coverB: null,
            coverC: null,
            coverV: null,
            typeList: []
        },
        beforeMount: function () {

        },
        mounted: function () {

        },
        created: function () {
            $.get('/type/findAll', function (result) {
                if(result != null && result.data != null )
                    vm.typeList = result.data;
            });
        },
        methods: {}
    })

</script>
</body>
</html>