<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <script th:src="@{/js/page/brandInvest/editBrandInvest.js(v=4)}"></script>
    <style type="text/css">
        .form-control {
            width: 70%;
        }
        .coverDiv {
            border: 1px solid #C1C1C1;
            border-radius: 20px;
            width: 100px;
        }
    </style>
</head>

<body style="background:#fff; min-width: 900px">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                是否要保存品牌招商信息？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="continueBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
     aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="successModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                编辑品牌招商成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeSuccessBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="calls" id="editBrandInvest">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">品牌招商管理</li>
            <li class="active">编辑品牌招商</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">

        <div class="panel-body" style="padding-bottom:0px;">
            <form id="coverForm">
                <div class="form-group">
                    <label>招商广告图</label>
                    <div style="height: 100px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="float: left; height: 100px" class="coverDiv" id="coverDiv">
                            <img style="width: 100px" :src="cover">
                        </div>
                        <div style="float: left; margin-top: 50px; margin-left: 10px">
                            <button type="button" class="btn btn-info" style="margin-right: 15px"
                                    onclick="uploadCover()">上传文件
                            </button>
                            <input type="file" style="display: none;" id="coverFile" name="file">
                        </div>
                    </div>
                </div>
            </form>
            <form id="coverCForm">
                <div class="form-group">
                    <label>招商内容图</label>
                    <div style="height: 100px;">
                        <div style="float: left; height: 100px" class="coverDiv" id="coverCDiv">
                            <img style="width: 100px" :src="coverC">
                        </div>
                        <div style="float: left; margin-top: 50px; margin-left: 10px">
                            <button type="button" class="btn btn-info" style="margin-right: 15px"
                                    onclick="uploadCCover()">上传文件
                            </button>
                            <input type="file" style="display: none;" id="coverCFile" name="file">
                        </div>
                    </div>
                </div>
            </form>
            <form role="form" class="required-validate" id="updateForm" method="post" action="/brandInvest/update"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" id="title" name="title" :value="brandInvest.title"
                           placeholder="请输入标题">
                </div>
                <div class="form-group">
                    <label>品牌名字</label>
                    <input type="text" class="form-control" id="brandName" name="brandName" :value="brandInvest.brandName"
                           placeholder="请输入品牌名字">
                </div>
                <div class="form-group">
                    <label>类别</label>
                    <input type="text" class="form-control" id="type" name="type" :value="brandInvest.type"
                           placeholder="请输入类别">
                </div>
                <div class="form-group">
                    <label>招商类别</label>
                    <input type="text" class="form-control" id="investType" name="investType" :value="brandInvest.investType"
                           placeholder="请输入招商类别">
                </div>
                <div class="form-group">
                    <label>招商地区</label>
                    <input type="text" class="form-control" id="investArea" name="investArea" :value="brandInvest.investArea"
                           placeholder="请输入招商地区">
                </div>
                <div class="form-group">
                    <label>截止日期</label>
                    <input type="text" class="form-control" id="expireDateinput"
                           placeholder="请输入截止日期" :value="expireDateStr">
                    <input type="hidden" id="expireDate" name="expireDateTimeStamp">
                </div>
                <div class="form-group">
                    <label>是否置顶</label>
                    <input type="checkbox" id="isTop" onclick="changeTop()">
                </div>
                <div class="form-group" id="topSortDiv">
                    <label>置顶序号</label>
                    <input type="text" class="form-control" id="topSort" name="topSort" :value="brandInvest.topSort"
                           placeholder="请输入置顶序号">
                </div>
                <div class="form-group">
                    <label>立即发布</label>
                    <input type="checkbox" id="isPublish" >
                </div>
                <div class="form-group">
                    <label>标识</label>
                    &nbsp;&nbsp;<input type="radio" name="mark" value = '最新'>最新
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;<input type="radio" name="mark" value = '热门'>热门
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;<input type="radio" name="mark" value = '推荐'>推荐
                </div>

                <button type="submit" class="btn btn-default" id="validaterBtn" style="margin-bottom: 5%">保存</button>
            </form>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#editBrandInvest',
        data: {
            cover: '',
            coverC: '',
            expireDateStr: '',
            brandInvest: {}
        },
        beforeMount: function () {

        },
        mounted: function () {

        },
        created: function () {

        },
        methods: {}
    })

    function changeTop() {
        if($('#isTop').is(':checked')) {
            $('#topSortDiv').show();
        }else {
            $('#topSortDiv').hide();
        }
    }

</script>
</body>
</html>