<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <link rel="stylesheet" th:href="@{/css/summernote.css}"/>
    <script th:src="@{/js/summernote.js}"></script>
    <script th:src="@{/js/summernote-zh-CN.js}"></script>
    <script th:src="@{/js/house/addNews.js(v=1)}"></script>
    <style type="text/css">
        .form-control {
            width: 70%;
        }

        .coverDiv {
            border: 1px solid #C1C1C1;
            border-radius: 20px;
        }
    </style>
</head>

<body style="background:#fff; min-width: 900px">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                是否要保存资讯信息？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="continueBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
     aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="successModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                新增资讯成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeSuccessBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="calls" id="addActivity">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">资讯管理</li>
            <li class="active">新增资讯</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">

        <div class="panel-body" style="padding-bottom:0px;">
            <form id="coverForm">
                <div class="form-group">
                    <label>封面</label>
                    <div style="height: 100px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="float: left; height: 100px" class="coverDiv" id="coverDiv">
                            <img style="width: 100px" :src="cover">
                        </div>
                        <div style="float: left; margin-top: 50px; margin-left: 10px">
                            <button type="button" class="btn btn-info" style="margin-right: 15px"
                                    onclick="uploadCover()">上传封面
                            </button>
                            <input type="file" style="display: none;" id="coverFile" name="file">
                        </div>
                    </div>
                    <span style="color: #B94A48; font-size: 12px" v-show="cover == null || cover == ''">请选择封面</span>
                </div>
            </form>
            <form id="newsAddForm">
                <div class="form-group">
                    <label>类型</label>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        头条<input type="radio" value="0" name="type" checked="checked">
                        活动<input type="radio" value="1" name="type">
                    </div>
                </div>
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" id="title" name="title"
                           placeholder="请输入标题">
                </div>
                <div class="form-group">
                    <label>描述</label>
                    <textarea id="desc" name="desc" class="form-control" rows="3" placeholder="请输入描述"></textarea>
                </div>
                <div class="form-group">
                    <label>正文</label>
                </div>
                <div id="summernote"></div>
                <button type="submit" class="btn btn-default" id="validaterBtn" style="margin-bottom: 5%">提交</button>
            </form>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#addActivity',
        data: {
            houseId: '',
            activity: {},
            imgUrls: [],
            cover: null
        },
        beforeMount: function () {

        },
        mounted: function () {

        },
        created: function () {

        },
        methods: {}
    })

</script>
</body>
</html>




