<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <script th:src="@{/js/house/banner.js(v=1)}"></script>
    <script th:src="@{/js/bootstrap-table-editable.js}"></script>
</head>
<style type="text/css">
    .form-control {
        width: 70%;
    }

    .type-select {
        display: inline-block;
        margin-left: 5px;
    }
</style>
<body style="background:#fff">
<div id="bannerList">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示框
                    </h4>
                </div>
                <div class="modal-body" id="contentMsg">
                    <div>
                        <div style="padding-bottom: 20px">
                            Banner类型 ：
                            <select class="form-control type-select" v-model="type" @change="typeChange(type)">
                                <option value="house" selected>楼盘</option>
                                <option value="news">咨询</option>
                            </select>
                        </div>
                        <hr>
                        <div id="houseList" v-show="houseShow">
                            <div class="panel panel-default">
                                <div class="panel-heading">查询条件</div>
                                <div class="panel-body">
                                    <div class="form-group" style="margin-top:15px;">
                                        <label class="control-label col-sm-1" for="search_houseName" style="min-width: 80px">楼盘名称</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="search_houseName">
                                        </div>
                                        <div class="col-sm-4" style="text-align:left;">
                                            <button type="button" style="margin-left:50px" id="h_btn_query"
                                                    class="btn btn-primary" onclick="hSearch()">查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="house_toolbar" class="btn-group">
                            </div>
                            <table id="tb_house"></table>
                        </div>
                        <div id="newsList" v-show="newsShow">
                            <div class="panel panel-default">
                                <div class="panel-heading">查询条件</div>
                                <div class="panel-body">
                                    <div class="form-group" style="margin-top:15px">
                                        <label class="control-label col-sm-1" for="search_newsTitle" style="min-width: 40px">标题</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="search_newsTitle">
                                        </div>
                                        <div class="col-sm-4" style="text-align:left;">
                                            <button type="button" style="margin-left:50px" id="n_btn_query"
                                                    class="btn btn-primary" onclick="nSearch()">查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="news_toolbar" class="btn-group">
                            </div>
                            <table id="tb_news"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="addBanner()">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="deleteModalLabel">
                        提示框
                    </h4>
                </div>
                <div class="modal-body">
                    是否要删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" id="deleteBtn">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="calls">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">App Banner</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div class="page-content">
            <div class="panel-body" style="padding-bottom:0px;">
                <div id="toolbar" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                </div>
                <table id="tb_banner"></table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#bannerList',
        data: {
            content: '',
            feedback: {},
            type: '',
            houseShow : false,
            newsShow : false
        },
        mounted: function () {

        },
        methods: {
            typeChange: function (type) {
                if(type == 'house') {
                    var hTable = new hTableInit();
                    hTable.Init();
                    vm.newsShow = false;
                    vm.houseShow = true;
                } else if(type == 'news') {
                    var nTable = new nTableInit();
                    nTable.Init();
                    vm.newsShow = true;
                    vm.houseShow = false;
                }
            },
            addBanner: function() {
                var param = '';
                if(vm.type == 'house') {
                    param = $('#houseList input[type="radio"]:checked').parent().parent().attr('data-uniqueid');
                }else if(vm.type == 'news') {
                    param = $('#newsList input[type="radio"]:checked').parent().parent().attr('data-uniqueid');
                }
                if(param != '') {
                    $.post('/banner/save',{type: vm.type, param: param}, function(data) {
                        $('#tb_banner').bootstrapTable('refresh');
                        $('#myModal').modal('hide');
                    });
                }
            }
        }
    })



    var hTableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_house').bootstrapTable({
                url: '/house/findList',                 //请求后台的URL（*）
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                method: 'post',                      //请求方式（*）
                toolbar: '#house_toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 5,                       //每页的记录行数（*）
                pageList: [5, 10, 30],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                // showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                // height: 550,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [
                    {
                        radio: true
                    }, {
                        field: 'name',
                        title: '楼盘名称'
                    }, {
                        field: 'priceDesc',
                        title: '单价',
                        formatter: function (value, row, index) {
                            return value;
                        }
                    }, {
                        field: 'totalPrice',
                        title: '总价',
                        formatter: function (value, row, index) {
                            return value + '万';
                        }
                    }, {
                        field: 'decoration',
                        title: '装修标准'
                    }, {
                        field: 'houseTypeName',
                        title: '类型'
                    }, {
                        field: 'address',
                        title: '详细地址'
                    }, {
                        field: 'cityName',
                        title: '城市'
                    }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                'pageNumber': this.pageSize * (this.pageNumber - 1),   //页面大小
                'pageSize': this.pageSize,  //页码
                'name': $('#search_houseName').val()
            };
            return temp;
        };
        return oTableInit;
    };


    var nTableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_news').bootstrapTable({
                url: '/news/findList',                 //请求后台的URL（*）
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                method: 'post',                      //请求方式（*）
                toolbar: '#news_toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 5,                       //每页的记录行数（*）
                pageList: [5, 10, 30],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                // showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                // height: 550,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [
                    {
                        radio: true
                    }, {
                        field: 'cover',
                        title: '封面',
                        formatter: function (value, row, index) {
                            return '<img src="' + value + '" style="width: 70px">';
                        }
                    }, {
                        field: 'title',
                        title: '标题'
                    }, {
                        field: 'desc',
                        title: '描述',
                        cellStyle: {'css': {'width': '350px'}},
                        formatter: function (value, row, index) {
                            if (value.length > 20) {
                                return value.substring(0, 20) + '...';
                            }
                            return value;
                        }
                    }, {
                        field: 'createAt',
                        title: '创建时间',
                        formatter: function (value, row, index) {
                            return value;
                        }
                    }, {
                        field: 'type',
                        title: '类型',
                        formatter: function (value, row, index) {
                            if (value == 1) {
                                return '活动资讯';
                            }
                            return '头条资讯';
                        }
                    }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                'pageNumber': this.pageSize * (this.pageNumber - 1),   //页面大小
                'pageSize': this.pageSize,  //页码
                'title': $('#search_newsTitle').val()
            };
            return temp;
        };
        return oTableInit;
    };

    function hSearch() {
        $('#tb_house').bootstrapTable('refresh');
    }
    function nSearch() {
        $('#tb_news').bootstrapTable('refresh');
    }

</script>
</html>




