<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <script th:src="@{/js/house/menu.js(v=1)}"></script>
    <script th:src="@{/js/bootstrap-table-editable.js}"></script>
</head>
<style type="text/css">
</style>
<body style="background:#fff">
<div id="menuList">

    <div class="modal fade" id="childMenuModal" tabindex="-1" role="dialog" aria-labelledby="childMenuModalLabel"
         aria-hidden="false" data-keyboard="false">
        <div class="modal-dialog" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="childMenuModalLabel">
                        子菜单管理
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="childMenuToolbar" class="btn-group">
                        <button id="btn_add_child" type="button" class="btn btn-default" onclick="addChildMenu()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                    </div>
                    <table id="tb_child_menu"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="closeChildMenuBtn">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示框
                    </h4>
                </div>
                <div class="modal-body" id="successMsg">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" id="continueBtn">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="calls">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">菜单管理</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div class="page-content">

            <div class="panel-body" style="padding-bottom:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">查询条件</div>
                    <div class="panel-body">
                        <form id="formSearch" class="form-horizontal">
                            <div class="form-group" style="margin-top:15px">
                                <label class="control-label col-sm-1" for="search_menuTitle">菜单名称</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="search_menuTitle">
                                </div>
                                <div class="col-sm-4" style="text-align:left;">
                                    <button type="button" style="margin-left:50px" id="btn_query"
                                            class="btn btn-primary" onclick="search()">查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="toolbar" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-default" onclick="addMenu()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                </div>
                <table id="tb_menu"></table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#menuList',
        data: {
            parentId: ''
        },
        mounted: function () {

        },
        methods: {}
    })
</script>
</html>




