<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="utf-8" name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
<head>
    <title></title>
    <th:block th:insert="header :: common_header"/>
    <script th:src="@{/js/tab/tabFunction.js}"></script>
</head>
<body onload="init();" style="margin:0;padding:0; background:#fff">
<div id="yuicontainer">

</div>
</body>
</html>