<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:insert="header :: common_header"/>
    <link rel="stylesheet" th:href="@{/css/summernote.css}"/>
    <script th:src="@{/js/summernote.js}"></script>
    <script th:src="@{/js/summernote-zh-CN.js}"></script>
    <script th:src="@{/js/house/updateCompany.js(v=1)}"></script>
    <style type="text/css">
        .form-control {
            width: 50%;
        }

        .labelInput {
            width: 25%;
            display: inline-block;
            margin-right: 5px;
        }
    </style>
</head>

<body style="background:#fff; min-width: 900px">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                是否要保存公司信息？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="continueBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
     aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="successModalLabel">
                    提示框
                </h4>
            </div>
            <div class="modal-body">
                修改公司成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeSuccessBtn">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="calls" id="updateCompany">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">公司管理</li>
            <li class="active">修改公司</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">

        <div class="panel-body" style="padding-bottom:0px;">
            <form id="companyAddForm">
                <input type="hidden" name="id" :value="company.id">
                <div class="form-group">
                    <label for="name">省份</label>
                    <select class="form-control" id="provinceId" name="provinceId" @change="getCity(provinceId)"
                            v-model="provinceId">
                        <option v-for="(p,index) in province" :value="p.provinceId">{{p.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">城市</label>
                    <select class="form-control" id="cityId" name="cityId" @change="getDistrict(cityId)"
                            v-model="cityId">
                        <option v-for="(c,index) in city" :value="c.cityId">{{c.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">区</label>
                    <select class="form-control" id="districtId" name="districtId" v-model="districtId">
                        <option v-for="(d,index) in district" :value="d.districtId">{{d.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>公司全称</label>
                    <input type="text" class="form-control" id="name" name="name" :value="company.name"
                           placeholder="请输入公司全称">
                </div>
                <div class="form-group">
                    <label>公司简称</label>
                    <input type="text" class="form-control" id="shortName" name="shortName" :value="company.shortName"
                           placeholder="请输入公司简称">
                </div>
                <div class="form-group">
                    <label>公司编码</label>
                    <input type="text" class="form-control" :value="company.code" disabled="disabled">
                </div>
                <div class="form-group">
                    <label>公司地址</label>
                    <input type="text" class="form-control" id="address" name="address" :value="company.address"
                           placeholder="请输入公司地址">
                </div>
                <div class="form-group">
                    <label>公司联系电话</label>
                    <input type="text" class="form-control" id="contact" name="contact" :value="company.contact"
                           placeholder="请输入公司联系电话">
                </div>
                <div class="form-group">
                    <label>公司负责人姓名</label>
                    <input type="text" class="form-control" id="principalName" name="principalName"
                           :value="company.principalName"
                           placeholder="请输入公司负责人姓名">
                </div>
                <div class="form-group">
                    <label>公司负责人联系</label>
                    <input type="text" class="form-control" id="principalPhone" name="principalPhone"
                           :value="company.principalPhone"
                           placeholder="请输入公司负责人联系">
                </div>
                <div class="form-group" style="margin-bottom: 0px">
                    <label>银行信息</label>
                </div>
                <div class="form-group">
                    <select class="form-control" style="width: 25%;display: inline-block" id="bankInfoSelect">
                        <option value="中国工商银行">中国工商银行</option>
                        <option value="中国农业银行">中国农业银行</option>
                        <option value="中国建设银行">中国建设银行</option>
                        <option value="中国银行">中国银行</option>
                        <option value="中国民生银行">中国民生银行</option>
                        <option value="中国光大银行">中国光大银行</option>
                        <option value="中国进出口银行">中国进出口银行</option>
                        <option value="中国农业发展银行">中国农业发展银行</option>
                        <option value="中国邮政储蓄银行">中国邮政储蓄银行</option>
                        <option value="中国人民银行">中国人民银行</option>
                        <option value="中信银行">中信银行</option>
                        <option value="招商银行">招商银行</option>
                        <option value="交通银行">交通银行</option>
                        <option value="兴业银行">兴业银行</option>
                        <option value="上海浦东发展银行">上海浦东发展银行</option>
                        <option value="华夏银行">华夏银行</option>
                        <option value="深圳发展银行">深圳发展银行</option>
                        <option value="广东发展银行">广东发展银行</option>
                        <option value="国家开发银行">国家开发银行</option>
                        <option value="other" onclick="showBankInfoInput()">其他</option>
                    </select>
                    <input type="text" class="form-control labelInput" id="bankInfoInput"
                           placeholder="请输入银行信息">
                </div>
                <div class="form-group">
                    <label>公司银行卡号</label>
                    <input type="text" class="form-control" id="creditCardNumbers" name="creditCardNumbers"
                           :value="company.creditCardNumbers"
                           placeholder="请输入公司银行卡号">
                </div>
                <div class="form-group">
                    <label>营业执照注册号</label>
                    <input type="text" class="form-control" id="businessLicenseNo" name="businessLicenseNo"
                           :value="company.businessLicenseNo"
                           placeholder="请输入营业执照注册号">
                </div>
                <button type="submit" class="btn btn-default" id="validaterBtn" style="margin-bottom: 5%">提交</button>
            </form>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#updateCompany',
        data: {
            company: {},
            province: [],
            city: [],
            district: [],
            provinceId: '',
            cityId: '',
            districtId: ''
        },
        beforeMount: function () {

        },
        mounted: function () {
            var id = getUrlParam('id');
            $.post('/company/findDetail', {id: id}, function (data) {
                vm.company = data.result;
                vm.provinceId = vm.company.provinceId;
                vm.cityId = vm.company.cityId;
                vm.districtId = vm.company.districtId;
                vm.getArea();
                var isOther = true;
                for (var i = 0; i < $('#bankInfoSelect').children().length; i++) {
                    var optionVal = $('#bankInfoSelect').children().eq(i).val();
                    if (optionVal == data.result.bankInfo) {
                        isOther = false;
                        break;
                    }
                }
                if (isOther) {
                    $('#bankInfoSelect').val('other');
                    $('#bankInfoInput').show();
                    $('#bankInfoInput').val(data.result.bankInfo);
                } else {
                    $('#bankInfoSelect').val(data.result.bankInfo);
                    $('#bankInfoInput').hide();
                }
            })

        },
        created: function () {

        },
        methods: {
            getArea: function () {
                $.post('/area/getProvince', {}, function (data) {
                    vm.province = data.result;
                    vm.province.forEach(function (p) {
                        if (p.provinceId == vm.provinceId) {
                            vm.city = p.cities;
                            p.cities.forEach(function (c) {
                                if (c.cityId == vm.cityId) {
                                    vm.district = c.districts;
                                }
                            })
                        }
                    })
                })

            },
            getProvince: function () {
                $.post('/area/getProvince', {}, function (data) {
                    vm.province = data.result;
                    vm.provinceId = data.result[0].provinceId;
                    vm.getCity(vm.provinceId);
                    vm.cityId = data.result[0].cities[0].cityId;
                    vm.getDistrict(vm.cityId);
                    vm.districtId = data.result[0].cities[0].districts[0].districtId;
                })
            },
            getCity: function (provinceId) {
                vm.districtId = '';
                vm.district = [];
                vm.cityId = '';
                vm.city = [];
                vm.province.forEach(function (val, index) {
                    if (val.provinceId == provinceId) {
                        vm.city = val.cities;
                        vm.cityId = val.cities[0].cityId;
                        vm.district = val.cities[0].districts;
                        vm.districtId = val.cities[0].districts[0].districtId;
                    }
                });
            },
            getDistrict: function (cityId) {
                vm.city.forEach(function (val, index) {
                    if (val.cityId == cityId) {
                        vm.district = val.districts;
                        vm.districtId = val.districts[0].districtId;
                    }
                });
            }
        }
    })

</script>
</body>
</html>




