<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.system.dao.InformationVisitRecordMapper">

    <select id="findCurrentDay" resultType="com.manage.system.bean.InformationVisitRecord">
        SELECT
            *
        FROM
            t_information_visit_record
        WHERE
            information_id = #{informationId}
            AND request_ip = #{requestIp}
            and to_days( create_time ) = to_days( now( ) )
    </select>

</mapper>