<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.system.dao.InformationMapper">
    <resultMap id="BaseResultMap" type="com.manage.system.bean.Information">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="cover_url" property="coverUrl" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="column_code" property="columnCode" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" jdbcType="INTEGER"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="click_num" property="clickNum" jdbcType="INTEGER"/>
        <result column="is_del" property="isDel" jdbcType="INTEGER"/>
        <result column="is_publish" property="isPublish" jdbcType="INTEGER"/>
        <result column="guide_content" property="guideContent" jdbcType="VARCHAR"/>
        <result column="content" property="content" typeHandler="com.manage.system.handler.ConvertBlobTypeHandler"/>
        <result column="create_time" property="createTime" jdbcType="OTHER"/>
        <result column="publish_time" property="publishTime" jdbcType="OTHER"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        select * from t_information where id = #{id}
    </select>

    <select id="findListByPage" resultMap="BaseResultMap">
        SELECT
            i.*,t.name as typeName
        FROM
            t_information i
            LEFT JOIN t_brand b ON b.id = i.brand_id
            INNER JOIN t_type t on t.id = i.type_id
            <where>
                <if test="title != null and title != ''">
                    and i.title LIKE CONCAT('%',#{title},'%')
                </if>
                <if test="name != null and name != ''">
                    and b.name LIKE CONCAT('%',#{name},'%')
                </if>
                <if test="column != null and column != ''">
                    and i.COLUMN = #{column}
                </if>
                <if test="typeId != null and typeId != ''">
                    and i.type_id = #{typeId}
                </if>
            </where>
            LIMIT #{pageNumber}, #{pageSize}
    </select>

    <select id="queryTotal" resultType="int">
        SELECT
            count(i.id)
        FROM
        t_information i
        LEFT JOIN t_brand b ON b.id = i.brand_id
        <where>
            <if test="title != null and title != ''">
                and i.title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="name != null and name != ''">
                and b.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="column != null and column != ''">
                and i.COLUMN = #{column}
            </if>
            <if test="typeId != null and typeId != ''">
                and i.type_id = #{typeId}
            </if>
        </where>
    </select>

    <select id="findListByColumnCode" resultType="com.manage.system.dto.InformationFrontDTO">
        SELECT
            b.company_name AS companyName,
            i.*
        FROM
            `t_information` i
            INNER JOIN t_brand b ON b.id = i.brand_id
            <if test="columnCode != null and columnCode != ''">
                where i.column_code = #{columnCode}
            </if>
            order by i.create_time desc
            limit #{pageNumber}, #{pageSize}
    </select>
</mapper>